<?xml version='1.0' encoding='utf-8'?>
<widget id="com.araldi.threedprime" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>3DPrime</name>
    <description>
        A 3D model viewer in browser. Meant as a test and for learning. 
    </description>
    <author email="araldi.mauricio@gmail.com">
        Mauricio Luis Comin Araldi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Orientation" value="landscape" />
    <preference name="HeaderColor" value="#E6915E" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    <preference name="android-targetSdkVersion" value="20" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
</widget>
